################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Application/obj
/src/Domain/obj
/src/Infrastructure/obj
